.vw-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: getrem($header-height);
}

.vw-content {
    flex: 1 0 auto;
}

.vw-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: Min(100% - #{getrem(34px)}, #{getrem(1124px)});
    margin-right: auto;
    margin-left: auto;
}

.vw-section {
    position: relative;

    &-header {
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
}

@include less-sm {
    .vw-container {
        max-width: 100%;
    }
}