@import "../../styles/utilities";

a.button,
.button {
    $fonstSize: getMinMax(15px, 15px);
    $height: getMinMax(54px, 54px);
    --border-radius: #{calc(8/15)*1em};

    @include button($fonstSize, $height);
    border-radius: var(--border-radius);

    &:hover {
        background: #1B29A6;
    }

    &:focus {
        background: #111D8A;
    }
}