@import "../../styles/utilities";

.hero {

    &-inner {
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 0 0;
        padding: getMinMax(30px, 100px) 0;
    }

    &-title {
        letter-spacing: -0.02em;
        text-transform: uppercase;

        &-icon {
            width: getMinMax(21px, 40px);
            height: getMinMax(21px, 40px);
        }
    }

    &-desc {
        &-item {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            gap: 20px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;

            &+.hero-desc-item {
                margin-top: 8px;
            }
        }

        &-icon {
            width: getMinMax(28px, 32px);
            height: getMinMax(28px, 32px);
        }
    }

    @include more-sm () {
        &-inner {
            background-size: Min(calc(450/1224)*100%, #{getrem(450px)}) Min(100%, #{getrem(419px)});
        }

        &-desc {
            &-item {
                font-size: getrem(16px);
            }
        }

        .vw-container {
            width: Min(100% - #{getrem(34px)}, #{getrem(1224px)});
        }
    }
}
